.contents{
	font-family: "helvetica", "sans-serif";
	background-color: #444;
	color:#fff;
	padding:10px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
}

.contents h1{
	font-family: "Arvo", "slab-serif";
}

.arrowImage{
	height:50px;
	width:50px;
}

#rightArrow{
	/* Rotation code from http://css-tricks.com/snippets/css/flip-an-image/ */
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: absolute;
    right:280px;
	top:150px;
}

#leftArrow{
	position:absolute;
	left:280px;
	top:150px;
}